# dynamic webpage
use variables to create fitting html page to read articles

the number of clusters should be variable.
A reader may choose to read from a selected cluster.
We need a drop down showing nr_of_clusters many options.

We will write a python function that returns a string that is html for a drop down list with nr_of_clusters options

In [2]:
from types import *
import sys

def drop_down_list (n=5):
    '''input: integer n, defaults n=5

    output: html code for a drop down list with n options'''
    
    try:
        assert (type(n)==int)
    except AssertionError:
        print("Assertion error in drop_down_list() . n is not an integer: %r" % n )
        sys.exit(1)
        
    try:
        assert (n>0) 
    except AssertionError:
        print("Assertion error in drop_down_list() . n should be larger than 0." )
        sys.exit(1)

    start = '<select id="myList">'
    options = ''
    if(n==1):
        options = '<option value="1">(the only) cluster</option>'
    else:
        options = '<option value="1">cluster 1 (largest cluster)</option>'
        for k in range(2,n):
            options = options + '<option value="'+str(k)+'">cluster '+str(k)+'</option>'
        options = options + '<option value="'+str(n)+'">Cluster '+str(n)+' (smallest cluster)</option>'
    finish = '</select>'
    
    return(start+options+finish)

In [80]:
drop_down_list()

'<select id="myList"><option value="1">cluster 1 (largest cluster)</option><option value="2">cluster 2</option><option value="3">cluster 3</option><option value="4">cluster 4</option><option value="5">Cluster 5 (smallest cluster)</option></select>'

once a cluster is selected from the drop down list,
the reader is presented with the titles of articles in the selected cluster.

In [3]:
def titles_for_cluster (df,cluster):
    '''input: integer cluster , data frame df
    output: two lists, first list of titles from cluster cluster, second list of articles from cluster cluster'''
    
    return(df.loc[df['cluster'] == cluster]['title'])

In [4]:
# dummy data

import pandas as pd 

df = pd.DataFrame(columns=['title', 'text','cluster'])

In [22]:
df['title'] = ['title A', 'title B', 'title C', 'some title', 'some other title']
list_of_texts = ['this story is from Gelsenkirchen at the end of the 20th century. Here it happened that...']
list_of_texts.append('Something relevant for topic B')
list_of_texts.append('Something that sounds like a funny story about C')
list_of_texts.append('Anyhow, it was last April when I met S. Someone at a conference about Whatever.')
list_of_texts.append('Garbage text')
df['text'] = list_of_texts
df['cluster'] = [1,2,3,1,2]

In [6]:
df

,title,text,cluster
0,title A,this story is from Gelsenkirchen at the end of...,1
1,title B,Something relevant for topic B,2
2,title C,Something that sounds like a funny story about C,3
3,some title,"Anyhow, it was last April when I met S. Someon...",1
4,some other title,Garbage text,2

Titles are returned as a pandas Series, including the indices from the original dataframe.

In [18]:
c = titles_for_cluster(df,1)
len(c), c.index[0] , c.index[1]

(2, 0, 3)

This allows us to access the text belonging to the titles, especially the title that gets selected (by the user).

In [34]:
df.loc[0,"text"]

'this story is from Gelsenkirchen at the end of the 20th century. Here it happened that...'